absl-py==0.9.0
astor==0.7.1
certifi==2019.11.28
gast==0.2.2
google-pasta==0.1.8
grpcio==1.23.0
h5py==2.10.0
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Mako==1.1.0
Markdown==3.2.1
MarkupSafe==1.1.1
numpy==1.18.1
opt-einsum==0+untagged.53.g6ab433b.dirty
pandas==1.0.2
protobuf==3.11.3
pydot==1.4.1
pygpu==0.7.6
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
Theano==1.0.4
Werkzeug==0.16.1
wrapt==1.12.1
